body {
  font-family: "Courier New", Courier New;
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
  margin-top: 20px;
}

.list {
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1980x;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
}
.header-container {
  align-items: center;
  width: auto;
  justify-content: center;
  border: 2px solid black;
}

.logo-header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 180px;
}

.h1 {
  font-family: "Courier New", Courier New;
  background-color: #ffffff;
  color: #212121;
  font-size: 60px;
  letter-spacing: 0.03em;
  display: flex;
}

.sweat-container {
  width: 1720px;
}

.items {
  width: 17px;
}

.items-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.basket {
  width: 17px;
  display: flex;
}

.sweat-img {
  width: 1000px;
  margin-bottom: 50px;
}

.sweatshirts-list {
  justify-content: center;
}

.hero-box {
  display: flex;
  justify-content: center;
}

.footer-box {
  border: 2px solid black;
  height: 200px;
}

.footer-list {
  margin-top: 75px;
}

.footer-list-tel {
  color: #353535;
  font-size: 18px;
}
.footer-list-mail {
  color: #353535;
  font-size: 18px;
}

.tag {
  color: #353535;
  font-size: 18px;
}

.border-sweat {
  border: 2px solid black;
}

.header-text {
  font-size: 25px;
  color: #353535;
}

.header-text-nana {
  font-size: 35px;
}

.header-text-nana2 {
  margin-bottom: 30px;
}

.margin-header {
  margin-bottom: 15px;
}

.h1-ul {
  display: flex;
  align-items: center;
  margin-left: 310px;
}
